---
title: "Moje teledyski"
---

<h1>Moje ulubione teledyski</h1>

<section>
  <h2>Kobi - Kiedy wyjdę z piekła</h2>
  <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/V53drEIr-Nk" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</section>

<section>
  <h2>Kobi - Lustro</h2>
  <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/K8o8Tt3CUdU" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</section>

<section>
  <h2>Kobi - Nie ma to tamto</h2>
  <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/dvA3Ej0AZho" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</section>
